In [1]:
!pip install pyspark pandas numpy findspark

Requirement already satisfied: pyspark in /usr/lib/spark/python (3.3.2)
Requirement already satisfied: pandas in /opt/conda/miniconda3/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: numpy in /opt/conda/miniconda3/lib/python3.10/site-packages (1.22.4)
Requirement already satisfied: findspark in /opt/conda/miniconda3/lib/python3.10/site-packages (2.0.1)
Requirement already satisfied: py4j==0.10.9.5 in /opt/conda/miniconda3/lib/python3.10/site-packages (from pyspark) (0.10.9.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/miniconda3/lib/python3.10/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/miniconda3/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/conda/miniconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable.It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

In [60]:
from pyspark import SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import pandas as pd
conf = SparkConf().setAppName('spark-app').setMaster('local[*]')
spark = SparkSession.builder.config(conf=conf).getOrCreate()
spark

24/11/25 23:12:58 INFO SparkEnv: Registering MapOutputTracker
24/11/25 23:12:58 INFO SparkEnv: Registering BlockManagerMaster
24/11/25 23:12:58 INFO SparkEnv: Registering BlockManagerMasterHeartbeat
24/11/25 23:12:58 INFO SparkEnv: Registering OutputCommitCoordinator

In [3]:
# Downloading and preprocessing Cars Data downloaded origianlly from https://perso.telecom-paristech.fr/eagan/class/igr204/datasets
#!wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv

In [4]:
#!ls

bin	  cars.csv.1  etc     lib    libx32	 mnt   root  snap  tmp
boot	  copyright   hadoop  lib32  lost+found  opt   run   srv   usr
cars.csv  dev	      home    lib64  media	 proc  sbin  sys   var

In [61]:
url = 'https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv'
df = spark.createDataFrame(pd.read_csv(url, sep=";"))
df.show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|3504.0|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693.0|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436.0|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433.0|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|3449.0|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

<a id='operaciones-del-marco-de-datos-en-filas'></a>
## Operaciones de DataFrame en filas

Discutiremos lo siguiente en esta sección:
1. Filtrado de Filas
2. Obtener Filas Distintas
3. Orden de filas
4. Uniones de dataframes

<a id='filtrado-filas'></a>
### Filtrado de filas

In [63]:
# Filtering rows in PySpark
total_count = df.count()
print("TOTAL RECORD COUNT: " + str(total_count)) 
df.cache()
europe_filtered_count = df.filter(col('Origin')=='Europe').count()
print("EUROPE FILTERED RECORD COUNT: " + str(europe_filtered_count))
df.filter(col('Origin')=='Europe').show(truncate=False)

TOTAL RECORD COUNT: 406
EUROPE FILTERED RECORD COUNT: 73
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Citroen DS-21 Pallas        |0.0 |4        |133.0       |115.0     |3090.0|17.5        |70   |Europe|
|Volkswagen 1131 Deluxe Sedan|26.0|4        |97.0        |46.0      |1835.0|20.5        |70   |Europe|
|Peugeot 504                 |25.0|4        |110.0       |87.0      |2672.0|17.5        |70   |Europe|
|Audi 100 LS                 |24.0|4        |107.0       |90.0      |2430.0|14.5        |70   |Europe|
|Saab 99e                    |25.0|4        |104.0       |95.0      |2375.0|17.5        |70   |Europe|
|BMW 2002                    |26.0|4        |121.0       |113.0     |2234.0|12.5        |70   |Europe|
|Volkswagen Super Beetle 117 |0.0 |4        |97.0        |48.0      |1978.0|20.0        |71   |Europe|
|Opel 1900                   |28.0|4        |116.0       |90.0      |2123.0|14.0        |71   |Europe|
|Peugeot 304                 |30.0|4        |79.0        |70.0      |2074.0|19.5        |71   |Europe|
|Fiat 124B                   |30.0|4        |88.0        |76.0      |2065.0|14.5        |71   |Europe|
|Volkswagen Model 111        |27.0|4        |97.0        |60.0      |1834.0|19.0        |71   |Europe|
|Volkswagen Type 3           |23.0|4        |97.0        |54.0      |2254.0|23.5        |72   |Europe|
|Volvo 145e (sw)             |18.0|4        |121.0       |112.0     |2933.0|14.5        |72   |Europe|
|Volkswagen 411 (sw)         |22.0|4        |121.0       |76.0      |2511.0|18.0        |72   |Europe|
|Peugeot 504 (sw)            |21.0|4        |120.0       |87.0      |2979.0|19.5        |72   |Europe|
|Renault 12 (sw)             |26.0|4        |96.0        |69.0      |2189.0|18.0        |72   |Europe|
|Volkswagen Super Beetle     |26.0|4        |97.0        |46.0      |1950.0|21.0        |73   |Europe|
|Fiat 124 Sport Coupe        |26.0|4        |98.0        |90.0      |2265.0|15.5        |73   |Europe|
|Fiat 128                    |29.0|4        |68.0        |49.0      |1867.0|19.5        |73   |Europe|
|Opel Manta                  |24.0|4        |116.0       |75.0      |2158.0|15.5        |73   |Europe|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [64]:
# Filtering rows in PySpark based on Multiple conditions
total_count = df.count()
print("TOTAL RECORD COUNT: " + str(total_count)) 
europe_filtered_count = df.filter((col('Origin')=='Europe') & 
                                  (col('Cylinders')==4)).count() # Two conditions added here
print("EUROPE FILTERED RECORD COUNT: " + str(europe_filtered_count))
df.filter(col('Origin')=='Europe').show(truncate=False)

TOTAL RECORD COUNT: 406
EUROPE FILTERED RECORD COUNT: 66
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Citroen DS-21 Pallas        |0.0 |4        |133.0       |115.0     |3090.0|17.5        |70   |Europe|
|Volkswagen 1131 Deluxe Sedan|26.0|4        |97.0        |46.0      |1835.0|20.5        |70   |Europe|
|Peugeot 504                 |25.0|4        |110.0       |87.0      |2672.0|17.5        |70   |Europe|
|Audi 100 LS                 |24.0|4        |107.0       |90.0      |2430.0|14.5        |70   |Europe|
|Saab 99e                    |25.0|4        |104.0       |95.0      |2375.0|17.5        |70   |Europe|
|BMW 2002                    |26.0|4        |121.0       |113.0     |2234.0|12.5        |70   |Europe|
|Volkswagen Super Beetle 117 |0.0 |4        |97.0        |48.0      |1978.0|20.0        |71   |Europe|
|Opel 1900                   |28.0|4        |116.0       |90.0      |2123.0|14.0        |71   |Europe|
|Peugeot 304                 |30.0|4        |79.0        |70.0      |2074.0|19.5        |71   |Europe|
|Fiat 124B                   |30.0|4        |88.0        |76.0      |2065.0|14.5        |71   |Europe|
|Volkswagen Model 111        |27.0|4        |97.0        |60.0      |1834.0|19.0        |71   |Europe|
|Volkswagen Type 3           |23.0|4        |97.0        |54.0      |2254.0|23.5        |72   |Europe|
|Volvo 145e (sw)             |18.0|4        |121.0       |112.0     |2933.0|14.5        |72   |Europe|
|Volkswagen 411 (sw)         |22.0|4        |121.0       |76.0      |2511.0|18.0        |72   |Europe|
|Peugeot 504 (sw)            |21.0|4        |120.0       |87.0      |2979.0|19.5        |72   |Europe|
|Renault 12 (sw)             |26.0|4        |96.0        |69.0      |2189.0|18.0        |72   |Europe|
|Volkswagen Super Beetle     |26.0|4        |97.0        |46.0      |1950.0|21.0        |73   |Europe|
|Fiat 124 Sport Coupe        |26.0|4        |98.0        |90.0      |2265.0|15.5        |73   |Europe|
|Fiat 128                    |29.0|4        |68.0        |49.0      |1867.0|19.5        |73   |Europe|
|Opel Manta                  |24.0|4        |116.0       |75.0      |2158.0|15.5        |73   |Europe|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

<a id='obtener-filas-distintas'></a>
### Obtener filas distintas

In [10]:
#Get Unique Rows in PySpark
df.select('Origin').distinct().show()

+------+
|Origin|
+------+
|Europe|
|    US|
| Japan|
+------+

In [65]:
#Get Unique Rows in PySpark based on mutliple columns
df.select('Origin','model').distinct().show()

+------+-----+
|Origin|model|
+------+-----+
|    US|   70|
|Europe|   70|
| Japan|   70|
| Japan|   71|
|Europe|   71|
|    US|   71|
|    US|   72|
|    US|   73|
| Japan|   72|
|Europe|   72|
| Japan|   74|
| Japan|   73|
|Europe|   73|
|Europe|   74|
|    US|   74|
|    US|   75|
| Japan|   75|
|    US|   76|
|Europe|   76|
|Europe|   75|
+------+-----+
only showing top 20 rows

<a id='ordenar-filas'></a>
### Orden de filas

In [66]:
# Sort Rows in PySpark
# By default the data will be sorted in ascending order
df.orderBy('Cylinders').show(truncate=False)

+------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                     |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+------------------------+----+---------+------------+----------+------+------------+-----+------+
|Mazda RX-7 GS           |23.7|3        |70.0        |100.0     |2420.0|12.5        |80   |Japan |
|Mazda RX2 Coupe         |19.0|3        |70.0        |97.0      |2330.0|13.5        |72   |Japan |
|Mazda RX3               |18.0|3        |70.0        |90.0      |2124.0|13.5        |73   |Japan |
|Mazda RX-4              |21.5|3        |80.0        |110.0     |2720.0|13.5        |77   |Japan |
|Ford Pinto              |26.5|4        |140.0       |72.0      |2565.0|13.6        |76   |US    |
|Volkswagen Rabbit Custom|29.0|4        |97.0        |78.0      |1940.0|14.5        |77   |Europe|
|Volkswagen Rabbit       |29.0|4        |90.0        |70.0      |1937.0|14.2        |76   |Europe|
|Pontiac Sunbird Coupe   |24.5|4        |151.0       |88.0      |2740.0|16.0        |77   |US    |
|Volkswagen Rabbit       |29.5|4        |97.0        |71.0      |1825.0|12.2        |76   |Europe|
|Datsun B-210            |32.0|4        |85.0        |70.0      |1990.0|17.0        |76   |Japan |
|Toyota Corolla          |28.0|4        |97.0        |75.0      |2155.0|16.4        |76   |Japan |
|Volvo 245               |20.0|4        |130.0       |102.0     |3150.0|15.7        |76   |Europe|
|Peugeot 504             |19.0|4        |120.0       |88.0      |3270.0|21.9        |76   |Europe|
|Honda Accord CVCC       |31.5|4        |98.0        |68.0      |2045.0|18.5        |77   |Japan |
|Buick Opel Isuzu Deluxe |30.0|4        |111.0       |80.0      |2155.0|14.8        |77   |US    |
|Renault 5 GTL           |36.0|4        |79.0        |58.0      |1825.0|18.6        |77   |Europe|
|Plymouth Arrow GS       |25.5|4        |122.0       |96.0      |2300.0|15.5        |77   |US    |
|Datsun F-10 Hatchback   |33.5|4        |85.0        |70.0      |1945.0|16.8        |77   |Japan |
|Toyota Corolla Liftback |26.0|4        |97.0        |75.0      |2265.0|18.2        |77   |Japan |
|Ford Mustang II 2+2     |25.5|4        |140.0       |89.0      |2755.0|15.8        |77   |US    |
+------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [67]:
# To change the sorting order, you can use the ascending parameter
df.orderBy('Cylinders', ascending=False).show(truncate=False)

+---------------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                              |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+---------------------------------+----+---------+------------+----------+------+------------+-----+------+
|AMC Matador                      |14.0|8        |304.0       |150.0     |3672.0|11.5        |73   |US    |
|Buick LeSabre Custom             |13.0|8        |350.0       |155.0     |4502.0|13.5        |72   |US    |
|Buick Century 350                |13.0|8        |350.0       |175.0     |4100.0|13.0        |73   |US    |
|Plymouth Fury III                |15.0|8        |318.0       |150.0     |4135.0|13.5        |72   |US    |
|Mercury Marquis                  |11.0|8        |429.0       |208.0     |4633.0|11.0        |72   |US    |
|AMC Matador (sw)                 |15.0|8        |304.0       |150.0     |3892.0|12.5        |72   |US    |
|Plymouth Satellite Custom (sw)   |14.0|8        |318.0       |150.0     |4077.0|14.0        |72   |US    |
|Pontiac Safari (sw)              |13.0|8        |400.0       |175.0     |5140.0|12.0        |71   |US    |
|Pontiac Catalina                 |14.0|8        |400.0       |175.0     |4385.0|12.0        |72   |US    |
|Ford Galaxie 500                 |14.0|8        |351.0       |153.0     |4129.0|13.0        |72   |US    |
|AMC Ambassador SST               |17.0|8        |304.0       |150.0     |3672.0|11.5        |72   |US    |
|Oldsmobile Delta 88 Royale       |12.0|8        |350.0       |160.0     |4456.0|13.5        |72   |US    |
|Chrysler Newport Royal           |13.0|8        |400.0       |190.0     |4422.0|12.5        |72   |US    |
|Chevrolet Chevelle Concours (sw) |13.0|8        |307.0       |130.0     |4098.0|14.0        |72   |US    |
|Ford Gran Torino (sw)            |13.0|8        |302.0       |140.0     |4294.0|16.0        |72   |US    |
|Oldsmobile Cutlass LS            |26.6|8        |350.0       |105.0     |3725.0|19.0        |81   |US    |
|Oldsmobile Cutlass Salon Brougham|23.9|8        |260.0       |90.0      |3420.0|22.2        |79   |US    |
|Cadillac Eldorado                |23.0|8        |350.0       |125.0     |3900.0|17.4        |79   |US    |
|Chevrolet Impala                 |13.0|8        |350.0       |165.0     |4274.0|12.0        |72   |US    |
|Ford Country Squire (sw)         |13.0|8        |400.0       |170.0     |4746.0|12.0        |71   |US    |
+---------------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [14]:
# Using groupBy aand orderBy together
df.groupBy("Origin").count().orderBy('count', ascending=False).show(10)

+------+-----+
|Origin|count|
+------+-----+
|    US|  254|
| Japan|   79|
|Europe|   73|
+------+-----+

<a id='union-dataframes'></a>
### Uniones de dataframes

Verá tres métodos principales para realizar la unión de dataframes. Es importante saber la diferencia entre ellos y cuál es el preferido:

* `union()`: se utiliza para fusionar dos DataFrames de la misma estructura/esquema. Si los esquemas no son iguales, devuelve un error.
* `unionAll()`: esta función está en desuso desde Spark 2.0.0 y se reemplazó con union()
* `unionByName()`: esta función se usa para fusionar dos dataframes según el nombre de la columna.

> Dado que `unionAll()` está en desuso, **`union()` es el método preferido para fusionar dataframes.**
<br>
> La diferencia entre `unionByName()` y `union()` es que `unionByName()` resuelve las columnas por nombre, no por posición.

En otros SQL, Union elimina los duplicados, pero UnionAll fusiona dos conjuntos de datos, por lo que incluye registros duplicados. Pero, en PySpark, ambos se comportan igual e incluyen registros duplicados. La recomendación es utilizar `distinct()` o `dropDuplicates()` para eliminar registros duplicados.

In [72]:
# CASE 1: Union When columns are in order
url = 'https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv'
df = spark.createDataFrame(pd.read_csv(url, sep=";"))
europe_cars = df.filter((col('Origin')=='Europe') & (col('Cylinders')==5))
europe_cars.cache()
europe_cars.show()

+-------------------+----+---------+------------+----------+------+------------+-----+------+
|                Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------+----+---------+------------+----------+------+------------+-----+------+
|          Audi 5000|20.3|        5|       131.0|     103.0|2830.0|        15.9|   78|Europe|
| Mercedes Benz 300d|25.4|        5|       183.0|      77.0|3530.0|        20.1|   79|Europe|
|Audi 5000s (diesel)|36.4|        5|       121.0|      67.0|2950.0|        19.9|   80|Europe|
+-------------------+----+---------+------------+----------+------+------------+-----+------+

In [73]:
japan_cars = df.filter((col('Origin')=='Japan') & (col('Cylinders')==3))
japan_cars.cache()
japan_cars.show()

+---------------+----+---------+------------+----------+------+------------+-----+------+
|            Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+---------------+----+---------+------------+----------+------+------------+-----+------+
|Mazda RX2 Coupe|19.0|        3|        70.0|      97.0|2330.0|        13.5|   72| Japan|
|      Mazda RX3|18.0|        3|        70.0|      90.0|2124.0|        13.5|   73| Japan|
|     Mazda RX-4|21.5|        3|        80.0|     110.0|2720.0|        13.5|   77| Japan|
|  Mazda RX-7 GS|23.7|        3|        70.0|     100.0|2420.0|        12.5|   80| Japan|
+---------------+----+---------+------------+----------+------+------------+-----+------+

In [71]:
print("EUROPE CARS: "+str(europe_cars.count()))
print("JAPAN CARS: "+str(japan_cars.count()))
print("AFTER UNION: "+str(europe_cars.union(japan_cars).count()))

EUROPE CARS: 3
JAPAN CARS: 4
AFTER UNION: 7

In [18]:
europe_cars.union(japan_cars).show()

+-------------------+----+---------+------------+----------+------+------------+-----+------+
|                Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------+----+---------+------------+----------+------+------------+-----+------+
|          Audi 5000|20.3|        5|       131.0|     103.0|2830.0|        15.9|   78|Europe|
| Mercedes Benz 300d|25.4|        5|       183.0|      77.0|3530.0|        20.1|   79|Europe|
|Audi 5000s (diesel)|36.4|        5|       121.0|      67.0|2950.0|        19.9|   80|Europe|
|    Mazda RX2 Coupe|19.0|        3|        70.0|      97.0|2330.0|        13.5|   72| Japan|
|          Mazda RX3|18.0|        3|        70.0|      90.0|2124.0|        13.5|   73| Japan|
|         Mazda RX-4|21.5|        3|        80.0|     110.0|2720.0|        13.5|   77| Japan|
|      Mazda RX-7 GS|23.7|        3|        70.0|     100.0|2420.0|        12.5|   80| Japan|
+-------------------+----+---------+------------+----------+------+------------+-----+------+

**Resultado:**

> Como puede ver aquí, había 3 autos de Europa con 5 Cilindros y 4 autos de Japón con 3 Cilindros. Después de la unión, hay 7 autos en total.

In [75]:
# CASE 1: Union When columns are not in order
# Creating two dataframes with jumbled columns
df1 = spark.createDataFrame([[1, 2, 3]], ["col0", "col1", "col2"])
df2 = spark.createDataFrame([[4, 5, 6]], ["col1", "col2", "col0"])
df1.union(df2).show()

+----+----+----+
|col0|col1|col2|
+----+----+----+
|   1|   2|   3|
|   4|   5|   6|
+----+----+----+

**Resultado:**

> Como puede ver aquí, los dos dataframes se han fusionado con éxito en función de sus nombres de columna.

<a id='funciones-de-manipulación-de-datos-comunes'></a>
## Funciones comunes de manipulación de datos

In [20]:
# Functions available in PySpark
from pyspark.sql import functions
# Similar to python, we can use the dir function to view the avaiable functions
print(dir(functions))

['Any', 'ArrayType', 'Callable', 'Column', 'DataFrame', 'DataType', 'Dict', 'Iterable', 'List', 'Optional', 'PandasUDFType', 'PythonEvalType', 'SparkContext', 'StringType', 'StructType', 'TYPE_CHECKING', 'Tuple', 'Union', 'UserDefinedFunction', 'ValuesView', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_create_column_from_literal', '_create_lambda', '_create_udf', '_get_jvm_function', '_get_lambda_parameters', '_invoke_binary_math_function', '_invoke_function', '_invoke_function_over_columns', '_invoke_function_over_seq_of_columns', '_invoke_higher_order_function', '_options_to_str', '_test', '_to_java_column', '_to_seq', '_unresolved_named_lambda_variable', 'abs', 'acos', 'acosh', 'add_months', 'aggregate', 'approxCountDistinct', 'approx_count_distinct', 'array', 'array_contains', 'array_distinct', 'array_except', 'array_intersect', 'array_join', 'array_max', 'array_min', 'array_position', 'array_remove', 'array_repeat', 'array_sort', 'array_union', 'arrays_overlap', 'arrays_zip', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'ascii', 'asin', 'asinh', 'assert_true', 'atan', 'atan2', 'atanh', 'avg', 'base64', 'bin', 'bit_length', 'bitwiseNOT', 'bitwise_not', 'broadcast', 'bround', 'bucket', 'cast', 'cbrt', 'ceil', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'conv', 'corr', 'cos', 'cosh', 'cot', 'count', 'countDistinct', 'count_distinct', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'csc', 'cume_dist', 'current_date', 'current_timestamp', 'date_add', 'date_format', 'date_sub', 'date_trunc', 'datediff', 'dayofmonth', 'dayofweek', 'dayofyear', 'days', 'decode', 'degrees', 'dense_rank', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'element_at', 'encode', 'exists', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'factorial', 'filter', 'first', 'flatten', 'floor', 'forall', 'format_number', 'format_string', 'from_csv', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get_json_object', 'greatest', 'grouping', 'grouping_id', 'hash', 'hex', 'hour', 'hours', 'hypot', 'initcap', 'input_file_name', 'inspect', 'instr', 'isnan', 'isnull', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'lead', 'least', 'length', 'levenshtein', 'lit', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'make_date', 'map_concat', 'map_entries', 'map_filter', 'map_from_arrays', 'map_from_entries', 'map_keys', 'map_values', 'map_zip_with', 'max', 'max_by', 'md5', 'mean', 'min', 'min_by', 'minute', 'monotonically_increasing_id', 'month', 'months', 'months_between', 'nanvl', 'next_day', 'nth_value', 'ntile', 'octet_length', 'overlay', 'overload', 'pandas_udf', 'percent_rank', 'percentile_approx', 'posexplode', 'posexplode_outer', 'pow', 'product', 'quarter', 'radians', 'raise_error', 'rand', 'randn', 'rank', 'regexp_extract', 'regexp_replace', 'repeat', 'reverse', 'rint', 'round', 'row_number', 'rpad', 'rtrim', 'schema_of_csv', 'schema_of_json', 'sec', 'second', 'sentences', 'sequence', 'session_window', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'shiftleft', 'shiftright', 'shiftrightunsigned', 'shuffle', 'signum', 'sin', 'since', 'sinh', 'size', 'skewness', 'slice', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'sqrt', 'stddev', 'stddev_pop', 'stddev_samp', 'struct', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sum_distinct', 'sys', 'tan', 'tanh', 'timestamp_seconds', 'toDegrees', 'toRadians', 'to_csv', 'to_date', 'to_json', 'to_str', 'to_timestamp', 'to_utc_timestamp', 'transform', 'transform_keys', 'transform_values', 'translate', 'trim', 'trunc', 'udf', 'unbase64', 'unhex', 'unix_timestamp', 'upper', 'var_pop', 'var_samp', 'variance', 'warnings', 'weekofyear', 'when', 'window', 'xxhash64', 'year', 'years', 'zip_with']

<a id='string-functions'></a>
### String Functions

In [77]:
# Loading the data
from pyspark.sql.functions import col
url = 'https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv'
df = spark.createDataFrame(pd.read_csv(url, sep=";"))

**Mostrar la columna Car en minúscula y mayúscula, y los primeros 4 caracteres de la columna**

In [82]:
from pyspark.sql.functions import col,lower, upper, substring, lit
# Prints out the details of a function
help(upper)

Help on function upper in module pyspark.sql.functions:

upper(col: 'ColumnOrName') -> pyspark.sql.column.Column
    Converts a string expression to upper case.

    .. versionadded:: 1.5

In [79]:
# alias is used to rename the column name in the output
df.select(col('Car'),lower(col('Car')),upper(col('Car')),substring(col('Car'),1,4).alias("concatenated value")).show(5, False)

+-------------------------+-------------------------+-------------------------+------------------+
|Car                      |lower(Car)               |upper(Car)               |concatenated value|
+-------------------------+-------------------------+-------------------------+------------------+
|Chevrolet Chevelle Malibu|chevrolet chevelle malibu|CHEVROLET CHEVELLE MALIBU|Chev              |
|Buick Skylark 320        |buick skylark 320        |BUICK SKYLARK 320        |Buic              |
|Plymouth Satellite       |plymouth satellite       |PLYMOUTH SATELLITE       |Plym              |
|AMC Rebel SST            |amc rebel sst            |AMC REBEL SST            |AMC               |
|Ford Torino              |ford torino              |FORD TORINO              |Ford              |
+-------------------------+-------------------------+-------------------------+------------------+
only showing top 5 rows

**Concatene la columna Car y Model y agregue un espacio entre ellas.**

In [83]:
from pyspark.sql.functions import concat
df.select(col("Car"),col("model"),concat(col("Car"), lit(" "), col("model"))).show(5, False)

+-------------------------+-----+----------------------------+
|Car                      |model|concat(Car,  , model)       |
+-------------------------+-----+----------------------------+
|Chevrolet Chevelle Malibu|70   |Chevrolet Chevelle Malibu 70|
|Buick Skylark 320        |70   |Buick Skylark 320 70        |
|Plymouth Satellite       |70   |Plymouth Satellite 70       |
|AMC Rebel SST            |70   |AMC Rebel SST 70            |
|Ford Torino              |70   |Ford Torino 70              |
+-------------------------+-----+----------------------------+
only showing top 5 rows

<a id='funciones-numéricas'></a>
### Funciones numéricas

**Mostrar el carro más liviano y el carro más pesado**

In [84]:
from pyspark.sql.functions import min, max
df.select(min(col('Weight')), max(col('Weight'))).show()

+-----------+-----------+
|min(Weight)|max(Weight)|
+-----------+-----------+
|     1613.0|     5140.0|
+-----------+-----------+

**Suma 10 al peso mínimo y máximo**from pyspark.sql.functions import min, max, lit
df.select(min(col('Weight'))+lit(10), max(col('Weight')+lit(10))).show()

In [85]:
from pyspark.sql.functions import min, max, lit
df.select(min(col('Weight'))+lit(10), max(col('Weight')+lit(10))).show()

+------------------+------------------+
|(min(Weight) + 10)|max((Weight + 10))|
+------------------+------------------+
|            1623.0|            5150.0|
+------------------+------------------+

<a id='operaciones-en-fecha'></a>
### Operaciones con fechas

> [PySpark sigue la tabla SimpleDateFormat de Java. Haga clic aquí para ver los documentos.](https://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html)

In [87]:
from pyspark.sql.functions import to_date, to_timestamp, lit
df = spark.createDataFrame([('2019-12-25 13:30:00',)], ['DOB'])
df.show()

+-------------------+
|                DOB|
+-------------------+
|2019-12-25 13:30:00|
+-------------------+

In [28]:
df.printSchema()

root
 |-- DOB: string (nullable = true)

In [ ]:
df = spark.createDataFrame([('2019-12-25 13:30:00',)], ['DOB'])
df = df.select(to_date(col('DOB'),'yyyy-MM-dd HH:mm:ss'), to_timestamp(col('DOB'),'yyyy-MM-dd HH:mm:ss'))
df.show()
df.printSchema()

+---------------------------------+--------------------------------------+
|to_date(DOB, yyyy-MM-dd HH:mm:ss)|to_timestamp(DOB, yyyy-MM-dd HH:mm:ss)|
+---------------------------------+--------------------------------------+
|                       2019-12-25|                   2019-12-25 13:30:00|
+---------------------------------+--------------------------------------+

root
 |-- to_date(DOB, yyyy-MM-dd HH:mm:ss): date (nullable = true)
 |-- to_timestamp(DOB, yyyy-MM-dd HH:mm:ss): timestamp (nullable = true)

**¿Qué día es 3 días antes de la fecha más antigua y 3 días después de la fecha más reciente?**

In [30]:
from pyspark.sql.functions import date_add, date_sub
# create a dummy dataframe
df = spark.createDataFrame([('1990-01-01',),('1995-01-03',),('2021-03-30',)], ['Date'])
# find out the required dates
df.select(date_add(max(col('Date')),3), date_sub(min(col('Date')),3)).show()

+----------------------+----------------------+
|date_add(max(Date), 3)|date_sub(min(Date), 3)|
+----------------------+----------------------+
|            2021-04-02|            1989-12-29|
+----------------------+----------------------+

<a id='joins-in-pyspark'></a>
## Joins en PySpark

In [94]:
# Create two dataframes
cars_df = spark.createDataFrame([[1, 'Car A'],[2, 'Car B'],[3, 'Car C']], ["id", "car_name"])
car_price_df = spark.createDataFrame([[1, 1000],[2, 2000],[3, 3000]], ["id", "car_price"])
cars_df.show()
car_price_df.show()

+---+--------+
| id|car_name|
+---+--------+
|  1|   Car A|
|  2|   Car B|
|  3|   Car C|
+---+--------+

+---+---------+
| id|car_price|
+---+---------+
|  1|     1000|
|  2|     2000|
|  3|     3000|
+---+---------+

In [95]:
# Executing an inner join so we can see the id, name and price of each car in one row
cars_df.join(car_price_df, cars_df.id == car_price_df.id, 'inner').select(cars_df['id'],cars_df['car_name'],car_price_df['car_price']).show(truncate=False)

+---+--------+---------+
|id |car_name|car_price|
+---+--------+---------+
|1  |Car A   |1000     |
|2  |Car B   |2000     |
|3  |Car C   |3000     |
+---+--------+---------+

Como puede ver, hemos realizado una unión interna entre dos dataframes. Las siguientes uniones son compatibles con PySpark:
1. inner (default)
2. cross
3. outer
4. full
5. full_outer
6. left
7. left_outer
8. right
9. right_outer
10. left_semi
11. left_anti

<a id='spark-sql'></a>
## Spark SQL

SQL ha existido desde la década de 1970, por lo que uno puede imaginar la cantidad de personas que lo convirtieron en su día a día. A medida que el big data se hizo popular, la cantidad de profesionales con el conocimiento técnico para manejarlo fue escaso. Esto condujo a la creación de Spark SQL. Para citar los documentos:<br>
>Spark SQL es un módulo de Spark para el procesamiento de datos estructurados. A diferencia de la API básica de Spark RDD, las interfaces proporcionadas por Spark SQL brindan a Spark más información sobre la estructura de los datos y el cálculo que se está realizando. Internamente, Spark SQL usa esta información adicional para realizar optimizaciones adicionales.

Básicamente, lo que necesita saber es que Spark SQL se usa para ejecutar consultas SQL en big data. Spark SQL también se puede usar para leer datos de tablas y vistas de Hive. Permítanme explicar Spark SQL con un ejemplo.

In [96]:
# Load data
url = 'https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv'
df = spark.createDataFrame(pd.read_csv(url, sep=";"))
# Register Temporary Table
df.createOrReplaceTempView("temp")
# Select all data from temp table
spark.sql("select * from temp limit 5").show()
# Select count of data in table
spark.sql("select count(*) as total_count from temp").show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|3504.0|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693.0|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436.0|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433.0|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|3449.0|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+

+-----------+
|total_count|
+-----------+
|        406|
+-----------+

Como puede ver, registramos el dataframe como una tabla temporal y luego ejecutamos consultas SQL básicas en él. ¡¿Qué tan asombroso es eso?!<br>
Si usted es una persona que se siente más cómoda con SQL, ¡entonces esta característica es realmente una bendición para usted! Pero esto plantea una pregunta:
> *¿Debería seguir usando Spark SQL todo el tiempo?*

Y la respuesta es, _**depende**_.<br>
Básicamente, las diferentes funciones actúan de diferentes maneras y, según el tipo de acción que intente realizar, la velocidad a la que completa la ejecución también difiere. Pero a medida que pasa el tiempo, esta función mejora cada vez más, por lo que es de esperar que la diferencia sea un pequeño margen. Hay muchos análisis realizados sobre esto, pero nada tiene una respuesta definitiva todavía. Puede leer este [estudio comparativo realizado por Horton Works](https://community.cloudera.com/t5/Community-Articles/Spark-RDDs-vs-DataFrames-vs-SparkSQL/ta-p/246547) o la respuesta a esta [pregunta de stackoverflow] (https://stackoverflow.com/questions/45430816/writing-sql-vs-using-dataframe-apis-in-spark-sql) si todavía tiene curiosidad al respecto.

<a id='rdd'></a>
## RDD

> Con map, defines una función y luego la aplicas registro por registro. Flatmap devuelve un nuevo RDD aplicando primero una función a todos los elementos en los RDD y luego aplanando el resultado. Filtro, devuelve un nuevo RDD. Es decir, sólo los elementos que satisfacen una condición. Con reduce, estamos tomando elementos vecinos y produciendo un único resultado combinado.
Por ejemplo, supongamos que tiene un conjunto de números. Puede reducir esto a su suma proporcionando una función que toma como entrada dos valores y los reduce a uno.

Algunas de las razones por las que usaría un dataframe sobre RDD son:
1. Es la capacidad de representar datos como filas y columnas. Pero esto también significa que solo puede contener datos estructurados y semiestructurados.
2. Permite procesar datos en diferentes formatos (AVRO, CSV, JSON, y sistema de almacenamiento HDFS, tablas HIVE, MySQL).
3. Es una capacidad superior de optimización de trabajos.
4. La API de DataFrame es muy fácil de usar.csv_content

In [102]:
cars.collect()

['Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin',
 'Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US',
 'Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US',
 'Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US',
 'AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US',
 'Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US',
 'Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0;70;US',
 'Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;70;US',
 'Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5;70;US',
 'Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0;70;US',
 'AMC Ambassador DPL;15.0;8;390.0;190.0;3850.;8.5;70;US',
 'Citroen DS-21 Pallas;0;4;133.0;115.0;3090.;17.5;70;Europe',
 'Chevrolet Chevelle Concours (sw);0;8;350.0;165.0;4142.;11.5;70;US',
 'Ford Torino (sw);0;8;351.0;153.0;4034.;11.0;70;US',
 'Plymouth Satellite (sw);0;8;383.0;175.0;4166.;10.5;70;US',
 'AMC Rebel SST (sw);0;8;360.0;175.0;3850.;11.0;70;US',
 'Dodge Challenger SE;15.0;8;383.0;170.0;3563.;10.0;70;US',
 "Plymouth 'Cuda 340;14.0;8;340.0;160.0;3609.;8.0;70;US",
 'Ford Mustang Boss 302;0;8;302.0;140.0;3353.;8.0;70;US',
 'Chevrolet Monte Carlo;15.0;8;400.0;150.0;3761.;9.5;70;US',
 'Buick Estate Wagon (sw);14.0;8;455.0;225.0;3086.;10.0;70;US',
 'Toyota Corolla Mark ii;24.0;4;113.0;95.00;2372.;15.0;70;Japan',
 'Plymouth Duster;22.0;6;198.0;95.00;2833.;15.5;70;US',
 'AMC Hornet;18.0;6;199.0;97.00;2774.;15.5;70;US',
 'Ford Maverick;21.0;6;200.0;85.00;2587.;16.0;70;US',
 'Datsun PL510;27.0;4;97.00;88.00;2130.;14.5;70;Japan',
 'Volkswagen 1131 Deluxe Sedan;26.0;4;97.00;46.00;1835.;20.5;70;Europe',
 'Peugeot 504;25.0;4;110.0;87.00;2672.;17.5;70;Europe',
 'Audi 100 LS;24.0;4;107.0;90.00;2430.;14.5;70;Europe',
 'Saab 99e;25.0;4;104.0;95.00;2375.;17.5;70;Europe',
 'BMW 2002;26.0;4;121.0;113.0;2234.;12.5;70;Europe',
 'AMC Gremlin;21.0;6;199.0;90.00;2648.;15.0;70;US',
 'Ford F250;10.0;8;360.0;215.0;4615.;14.0;70;US',
 'Chevy C20;10.0;8;307.0;200.0;4376.;15.0;70;US',
 'Dodge D200;11.0;8;318.0;210.0;4382.;13.5;70;US',
 'Hi 1200D;9.0;8;304.0;193.0;4732.;18.5;70;US',
 'Datsun PL510;27.0;4;97.00;88.00;2130.;14.5;71;Japan',
 'Chevrolet Vega 2300;28.0;4;140.0;90.00;2264.;15.5;71;US',
 'Toyota Corolla;25.0;4;113.0;95.00;2228.;14.0;71;Japan',
 'Ford Pinto;25.0;4;98.00;0;2046.;19.0;71;US',
 'Volkswagen Super Beetle 117;0;4;97.00;48.00;1978.;20.0;71;Europe',
 'AMC Gremlin;19.0;6;232.0;100.0;2634.;13.0;71;US',
 'Plymouth Satellite Custom;16.0;6;225.0;105.0;3439.;15.5;71;US',
 'Chevrolet Chevelle Malibu;17.0;6;250.0;100.0;3329.;15.5;71;US',
 'Ford Torino 500;19.0;6;250.0;88.00;3302.;15.5;71;US',
 'AMC Matador;18.0;6;232.0;100.0;3288.;15.5;71;US',
 'Chevrolet Impala;14.0;8;350.0;165.0;4209.;12.0;71;US',
 'Pontiac Catalina Brougham;14.0;8;400.0;175.0;4464.;11.5;71;US',
 'Ford Galaxie 500;14.0;8;351.0;153.0;4154.;13.5;71;US',
 'Plymouth Fury iii;14.0;8;318.0;150.0;4096.;13.0;71;US',
 'Dodge Monaco (sw);12.0;8;383.0;180.0;4955.;11.5;71;US',
 'Ford Country Squire (sw);13.0;8;400.0;170.0;4746.;12.0;71;US',
 'Pontiac Safari (sw);13.0;8;400.0;175.0;5140.;12.0;71;US',
 'AMC Hornet Sportabout (sw);18.0;6;258.0;110.0;2962.;13.5;71;US',
 'Chevrolet Vega (sw);22.0;4;140.0;72.00;2408.;19.0;71;US',
 'Pontiac Firebird;19.0;6;250.0;100.0;3282.;15.0;71;US',
 'Ford Mustang;18.0;6;250.0;88.00;3139.;14.5;71;US',
 'Mercury Capri 2000;23.0;4;122.0;86.00;2220.;14.0;71;US',
 'Opel 1900;28.0;4;116.0;90.00;2123.;14.0;71;Europe',
 'Peugeot 304;30.0;4;79.00;70.00;2074.;19.5;71;Europe',
 'Fiat 124B;30.0;4;88.00;76.00;2065.;14.5;71;Europe',
 'Toyota Corolla 1200;31.0;4;71.00;65.00;1773.;19.0;71;Japan',
 'Datsun 1200;35.0;4;72.00;69.00;1613.;18.0;71;Japan',
 'Volkswagen Model 111;27.0;4;97.00;60.00;1834.;19.0;71;Europe',
 'Plymouth Cricket;26.0;4;91.00;70.00;1955.;20.5;71;US',
 'Toyota Corolla Hardtop;24.0;4;113.0;95.00;2278.;15.5;72;Japan',
 'Dodge Colt Hardtop;25.0;4;97.50;80.00;2126.;17.0;72;US',
 'Volkswagen Type 3;23.0;4;97.00;54.00;2254.;23.5;72;Europe',
 'Chevrolet Vega;20.0;4;140.0;90.00;2408.;19.5;72;US',
 'Ford Pinto Runabout;21.0;4;122.0;86.00;2226.;16.5;72;US',
 'Chevrolet Impala;13.0;8;350.0;165.0;4274.;12.0;72;US',
 'Pontiac Catalina;14.0;8;400.0;175.0;4385.;12.0;72;US',
 'Plymouth Fury III;15.0;8;318.0;150.0;4135.;13.5;72;US',
 'Ford Galaxie 500;14.0;8;351.0;153.0;4129.;13.0;72;US',
 'AMC Ambassador SST;17.0;8;304.0;150.0;3672.;11.5;72;US',
 'Mercury Marquis;11.0;8;429.0;208.0;4633.;11.0;72;US',
 'Buick LeSabre Custom;13.0;8;350.0;155.0;4502.;13.5;72;US',
 'Oldsmobile Delta 88 Royale;12.0;8;350.0;160.0;4456.;13.5;72;US',
 'Chrysler Newport Royal;13.0;8;400.0;190.0;4422.;12.5;72;US',
 'Mazda RX2 Coupe;19.0;3;70.00;97.00;2330.;13.5;72;Japan',
 'AMC Matador (sw);15.0;8;304.0;150.0;3892.;12.5;72;US',
 'Chevrolet Chevelle Concours (sw);13.0;8;307.0;130.0;4098.;14.0;72;US',
 'Ford Gran Torino (sw);13.0;8;302.0;140.0;4294.;16.0;72;US',
 'Plymouth Satellite Custom (sw);14.0;8;318.0;150.0;4077.;14.0;72;US',
 'Volvo 145e (sw);18.0;4;121.0;112.0;2933.;14.5;72;Europe',
 'Volkswagen 411 (sw);22.0;4;121.0;76.00;2511.;18.0;72;Europe',
 'Peugeot 504 (sw);21.0;4;120.0;87.00;2979.;19.5;72;Europe',
 'Renault 12 (sw);26.0;4;96.00;69.00;2189.;18.0;72;Europe',
 'Ford Pinto (sw);22.0;4;122.0;86.00;2395.;16.0;72;US',
 'Datsun 510 (sw);28.0;4;97.00;92.00;2288.;17.0;72;Japan',
 'Toyota Corolla Mark II (sw);23.0;4;120.0;97.00;2506.;14.5;72;Japan',
 'Dodge Colt (sw);28.0;4;98.00;80.00;2164.;15.0;72;US',
 'Toyota Corolla 1600 (sw);27.0;4;97.00;88.00;2100.;16.5;72;Japan',
 'Buick Century 350;13.0;8;350.0;175.0;4100.;13.0;73;US',
 'AMC Matador;14.0;8;304.0;150.0;3672.;11.5;73;US',
 'Chevrolet Malibu;13.0;8;350.0;145.0;3988.;13.0;73;US',
 'Ford Gran Torino;14.0;8;302.0;137.0;4042.;14.5;73;US',
 'Dodge Coronet Custom;15.0;8;318.0;150.0;3777.;12.5;73;US',
 'Mercury Marquis Brougham;12.0;8;429.0;198.0;4952.;11.5;73;US',
 'Chevrolet Caprice Classic;13.0;8;400.0;150.0;4464.;12.0;73;US',
 'Ford LTD;13.0;8;351.0;158.0;4363.;13.0;73;US',
 'Plymouth Fury Gran Sedan;14.0;8;318.0;150.0;4237.;14.5;73;US',
 'Chrysler New Yorker Brougham;13.0;8;440.0;215.0;4735.;11.0;73;US',
 'Buick Electra 225 Custom;12.0;8;455.0;225.0;4951.;11.0;73;US',
 'AMC Ambassador Brougham;13.0;8;360.0;175.0;3821.;11.0;73;US',
 'Plymouth Valiant;18.0;6;225.0;105.0;3121.;16.5;73;US',
 'Chevrolet Nova Custom;16.0;6;250.0;100.0;3278.;18.0;73;US',
 'AMC Hornet;18.0;6;232.0;100.0;2945.;16.0;73;US',
 'Ford Maverick;18.0;6;250.0;88.00;3021.;16.5;73;US',
 'Plymouth Duster;23.0;6;198.0;95.00;2904.;16.0;73;US',
 'Volkswagen Super Beetle;26.0;4;97.00;46.00;1950.;21.0;73;Europe',
 'Chevrolet Impala;11.0;8;400.0;150.0;4997.;14.0;73;US',
 'Ford Country;12.0;8;400.0;167.0;4906.;12.5;73;US',
 'Plymouth Custom Suburb;13.0;8;360.0;170.0;4654.;13.0;73;US',
 'Oldsmobile Vista Cruiser;12.0;8;350.0;180.0;4499.;12.5;73;US',
 'AMC Gremlin;18.0;6;232.0;100.0;2789.;15.0;73;US',
 'Toyota Camry;20.0;4;97.00;88.00;2279.;19.0;73;Japan',
 'Chevrolet Vega;21.0;4;140.0;72.00;2401.;19.5;73;US',
 'Datsun 610;22.0;4;108.0;94.00;2379.;16.5;73;Japan',
 'Mazda RX3;18.0;3;70.00;90.00;2124.;13.5;73;Japan',
 'Ford Pinto;19.0;4;122.0;85.00;2310.;18.5;73;US',
 'Mercury Capri v6;21.0;6;155.0;107.0;2472.;14.0;73;US',
 'Fiat 124 Sport Coupe;26.0;4;98.00;90.00;2265.;15.5;73;Europe',
 'Chevrolet Monte Carlo S;15.0;8;350.0;145.0;4082.;13.0;73;US',
 'Pontiac Grand Prix;16.0;8;400.0;230.0;4278.;9.50;73;US',
 'Fiat 128;29.0;4;68.00;49.00;1867.;19.5;73;Europe',
 'Opel Manta;24.0;4;116.0;75.00;2158.;15.5;73;Europe',
 'Audi 100LS;20.0;4;114.0;91.00;2582.;14.0;73;Europe',
 'Volvo 144ea;19.0;4;121.0;112.0;2868.;15.5;73;Europe',
 'Dodge Dart Custom;15.0;8;318.0;150.0;3399.;11.0;73;US',
 'Saab 99le;24.0;4;121.0;110.0;2660.;14.0;73;Europe',
 'Toyota Mark II;20.0;6;156.0;122.0;2807.;13.5;73;Japan',
 'Oldsmobile Omega;11.0;8;350.0;180.0;3664.;11.0;73;US',
 'Plymouth Duster;20.0;6;198.0;95.00;3102.;16.5;74;US',
 'Ford Maverick;21.0;6;200.0;0;2875.;17.0;74;US',
 'AMC Hornet;19.0;6;232.0;100.0;2901.;16.0;74;US',
 'Chevrolet Nova;15.0;6;250.0;100.0;3336.;17.0;74;US',
 'Datsun B210;31.0;4;79.00;67.00;1950.;19.0;74;Japan',
 'Ford Pinto;26.0;4;122.0;80.00;2451.;16.5;74;US',
 'Toyota Corolla 1200;32.0;4;71.00;65.00;1836.;21.0;74;Japan',
 'Chevrolet Vega;25.0;4;140.0;75.00;2542.;17.0;74;US',
 'Chevrolet Chevelle Malibu Classic;16.0;6;250.0;100.0;3781.;17.0;74;US',
 'AMC Matador;16.0;6;258.0;110.0;3632.;18.0;74;US',
 'Plymouth Satellite Sebring;18.0;6;225.0;105.0;3613.;16.5;74;US',
 'Ford Gran Torino;16.0;8;302.0;140.0;4141.;14.0;74;US',
 'Buick Century Luxus (sw);13.0;8;350.0;150.0;4699.;14.5;74;US',
 'Dodge Coronet Custom (sw);14.0;8;318.0;150.0;4457.;13.5;74;US',
 'Ford Gran Torino (sw);14.0;8;302.0;140.0;4638.;16.0;74;US',
 'AMC Matador (sw);14.0;8;304.0;150.0;4257.;15.5;74;US',
 'Audi Fox;29.0;4;98.00;83.00;2219.;16.5;74;Europe',
 'Volkswagen Dasher;26.0;4;79.00;67.00;1963.;15.5;74;Europe',
 'Opel Manta;26.0;4;97.00;78.00;2300.;14.5;74;Europe',
 'Toyota Corolla;31.0;4;76.00;52.00;1649.;16.5;74;Japan',
 'Datsun 710;32.0;4;83.00;61.00;2003.;19.0;74;Japan',
 'Dodge Colt;28.0;4;90.00;75.00;2125.;14.5;74;US',
 'Fiat 128;24.0;4;90.00;75.00;2108.;15.5;74;Europe',
 'Fiat 124 TC;26.0;4;116.0;75.00;2246.;14.0;74;Europe',
 'Honda Civic;24.0;4;120.0;97.00;2489.;15.0;74;Japan',
 'Subaru;26.0;4;108.0;93.00;2391.;15.5;74;Japan',
 'Fiat x1.9;31.0;4;79.00;67.00;2000.;16.0;74;Europe',
 'Plymouth Valiant Custom;19.0;6;225.0;95.00;3264.;16.0;75;US',
 'Chevrolet Nova;18.0;6;250.0;105.0;3459.;16.0;75;US',
 'Mercury Monarch;15.0;6;250.0;72.00;3432.;21.0;75;US',
 'Ford Maverick;15.0;6;250.0;72.00;3158.;19.5;75;US',
 'Pontiac Catalina;16.0;8;400.0;170.0;4668.;11.5;75;US',
 'Chevrolet Bel Air;15.0;8;350.0;145.0;4440.;14.0;75;US',
 'Plymouth Grand Fury;16.0;8;318.0;150.0;4498.;14.5;75;US',
 'Ford LTD;14.0;8;351.0;148.0;4657.;13.5;75;US',
 'Buick Century;17.0;6;231.0;110.0;3907.;21.0;75;US',
 'Chevrolete Chevelle Malibu;16.0;6;250.0;105.0;3897.;18.5;75;US',
 'AMC Matador;15.0;6;258.0;110.0;3730.;19.0;75;US',
 'Plymouth Fury;18.0;6;225.0;95.00;3785.;19.0;75;US',
 'Buick Skyhawk;21.0;6;231.0;110.0;3039.;15.0;75;US',
 'Chevrolet Monza 2+2;20.0;8;262.0;110.0;3221.;13.5;75;US',
 'Ford Mustang II;13.0;8;302.0;129.0;3169.;12.0;75;US',
 'Toyota Corolla;29.0;4;97.00;75.00;2171.;16.0;75;Japan',
 'Ford Pinto;23.0;4;140.0;83.00;2639.;17.0;75;US',
 'AMC Gremlin;20.0;6;232.0;100.0;2914.;16.0;75;US',
 'Pontiac Astro;23.0;4;140.0;78.00;2592.;18.5;75;US',
 'Toyota Corolla;24.0;4;134.0;96.00;2702.;13.5;75;Japan',
 'Volkswagen Dasher;25.0;4;90.00;71.00;2223.;16.5;75;Europe',
 'Datsun 710;24.0;4;119.0;97.00;2545.;17.0;75;Japan',
 'Ford Pinto;18.0;6;171.0;97.00;2984.;14.5;75;US',
 'Volkswagen Rabbit;29.0;4;90.00;70.00;1937.;14.0;75;Europe',
 'AMC Pacer;19.0;6;232.0;90.00;3211.;17.0;75;US',
 'Audi 100LS;23.0;4;115.0;95.00;2694.;15.0;75;Europe',
 'Peugeot 504;23.0;4;120.0;88.00;2957.;17.0;75;Europe',
 'Volvo 244DL;22.0;4;121.0;98.00;2945.;14.5;75;Europe',
 'Saab 99LE;25.0;4;121.0;115.0;2671.;13.5;75;Europe',
 'Honda Civic CVCC;33.0;4;91.00;53.00;1795.;17.5;75;Japan',
 'Fiat 131;28.0;4;107.0;86.00;2464.;15.5;76;Europe',
 'Opel 1900;25.0;4;116.0;81.00;2220.;16.9;76;Europe',
 'Capri ii;25.0;4;140.0;92.00;2572.;14.9;76;US',
 'Dodge Colt;26.0;4;98.00;79.00;2255.;17.7;76;US',
 'Renault 12tl;27.0;4;101.0;83.00;2202.;15.3;76;Europe',
 'Chevrolet Chevelle Malibu Classic;17.5;8;305.0;140.0;4215.;13.0;76;US',
 'Dodge Coronet Brougham;16.0;8;318.0;150.0;4190.;13.0;76;US',
 'AMC Matador;15.5;8;304.0;120.0;3962.;13.9;76;US',
 'Ford Gran Torino;14.5;8;351.0;152.0;4215.;12.8;76;US',
 'Plymouth Valiant;22.0;6;225.0;100.0;3233.;15.4;76;US',
 'Chevrolet Nova;22.0;6;250.0;105.0;3353.;14.5;76;US',
 'Ford Maverick;24.0;6;200.0;81.00;3012.;17.6;76;US',
 'AMC Hornet;22.5;6;232.0;90.00;3085.;17.6;76;US',
 'Chevrolet Chevette;29.0;4;85.00;52.00;2035.;22.2;76;US',
 'Chevrolet Woody;24.5;4;98.00;60.00;2164.;22.1;76;US',
 'Volkswagen Rabbit;29.0;4;90.00;70.00;1937.;14.2;76;Europe',
 'Honda Civic;33.0;4;91.00;53.00;1795.;17.4;76;Japan',
 'Dodge Aspen SE;20.0;6;225.0;100.0;3651.;17.7;76;US',
 'Ford Grenada ghia;18.0;6;250.0;78.00;3574.;21.0;76;US',
 'Pontiac Ventura SJ;18.5;6;250.0;110.0;3645.;16.2;76;US',
 'AMC Pacer d/l;17.5;6;258.0;95.00;3193.;17.8;76;US',
 'Volkswagen Rabbit;29.5;4;97.00;71.00;1825.;12.2;76;Europe',
 'Datsun B-210;32.0;4;85.00;70.00;1990.;17.0;76;Japan',
 'Toyota Corolla;28.0;4;97.00;75.00;2155.;16.4;76;Japan',
 'Ford Pinto;26.5;4;140.0;72.00;2565.;13.6;76;US',
 'Volvo 245;20.0;4;130.0;102.0;3150.;15.7;76;Europe',
 'Plymouth Volare Premier v8;13.0;8;318.0;150.0;3940.;13.2;76;US',
 'Peugeot 504;19.0;4;120.0;88.00;3270.;21.9;76;Europe',
 'Toyota Mark II;19.0;6;156.0;108.0;2930.;15.5;76;Japan',
 'Mercedes-Benz 280s;16.5;6;168.0;120.0;3820.;16.7;76;Europe',
 'Cadillac Seville;16.5;8;350.0;180.0;4380.;12.1;76;US',
 'Chevrolet C10;13.0;8;350.0;145.0;4055.;12.0;76;US',
 'Ford F108;13.0;8;302.0;130.0;3870.;15.0;76;US',
 'Dodge D100;13.0;8;318.0;150.0;3755.;14.0;76;US',
 'Honda Accord CVCC;31.5;4;98.00;68.00;2045.;18.5;77;Japan',
 'Buick Opel Isuzu Deluxe;30.0;4;111.0;80.00;2155.;14.8;77;US',
 'Renault 5 GTL;36.0;4;79.00;58.00;1825.;18.6;77;Europe',
 'Plymouth Arrow GS;25.5;4;122.0;96.00;2300.;15.5;77;US',
 'Datsun F-10 Hatchback;33.5;4;85.00;70.00;1945.;16.8;77;Japan',
 'Chevrolet Caprice Classic;17.5;8;305.0;145.0;3880.;12.5;77;US',
 'Oldsmobile Cutlass Supreme;17.0;8;260.0;110.0;4060.;19.0;77;US',
 'Dodge Monaco Brougham;15.5;8;318.0;145.0;4140.;13.7;77;US',
 'Mercury Cougar Brougham;15.0;8;302.0;130.0;4295.;14.9;77;US',
 'Chevrolet Concours;17.5;6;250.0;110.0;3520.;16.4;77;US',
 'Buick Skylark;20.5;6;231.0;105.0;3425.;16.9;77;US',
 'Plymouth Volare Custom;19.0;6;225.0;100.0;3630.;17.7;77;US',
 'Ford Grenada;18.5;6;250.0;98.00;3525.;19.0;77;US',
 'Pontiac Grand Prix LJ;16.0;8;400.0;180.0;4220.;11.1;77;US',
 'Chevrolet Monte Carlo Landau;15.5;8;350.0;170.0;4165.;11.4;77;US',
 'Chrysler Cordoba;15.5;8;400.0;190.0;4325.;12.2;77;US',
 'Ford Thunderbird;16.0;8;351.0;149.0;4335.;14.5;77;US',
 'Volkswagen Rabbit Custom;29.0;4;97.00;78.00;1940.;14.5;77;Europe',
 'Pontiac Sunbird Coupe;24.5;4;151.0;88.00;2740.;16.0;77;US',
 'Toyota Corolla Liftback;26.0;4;97.00;75.00;2265.;18.2;77;Japan',
 'Ford Mustang II 2+2;25.5;4;140.0;89.00;2755.;15.8;77;US',
 'Chevrolet Chevette;30.5;4;98.00;63.00;2051.;17.0;77;US',
 'Dodge Colt m/m;33.5;4;98.00;83.00;2075.;15.9;77;US',
 'Subaru DL;30.0;4;97.00;67.00;1985.;16.4;77;Japan',
 'Volkswagen Dasher;30.5;4;97.00;78.00;2190.;14.1;77;Europe',
 'Datsun 810;22.0;6;146.0;97.00;2815.;14.5;77;Japan',
 'BMW 320i;21.5;4;121.0;110.0;2600.;12.8;77;Europe',
 'Mazda RX-4;21.5;3;80.00;110.0;2720.;13.5;77;Japan',
 'Volkswagen Rabbit Custom Diesel;43.1;4;90.00;48.00;1985.;21.5;78;Europe',
 'Ford Fiesta;36.1;4;98.00;66.00;1800.;14.4;78;US',
 'Mazda GLC Deluxe;32.8;4;78.00;52.00;1985.;19.4;78;Japan',
 'Datsun B210 GX;39.4;4;85.00;70.00;2070.;18.6;78;Japan',
 'Honda Civic CVCC;36.1;4;91.00;60.00;1800.;16.4;78;Japan',
 'Oldsmobile Cutlass Salon Brougham;19.9;8;260.0;110.0;3365.;15.5;78;US',
 'Dodge Diplomat;19.4;8;318.0;140.0;3735.;13.2;78;US',
 'Mercury Monarch ghia;20.2;8;302.0;139.0;3570.;12.8;78;US',
 'Pontiac Phoenix LJ;19.2;6;231.0;105.0;3535.;19.2;78;US',
 'Chevrolet Malibu;20.5;6;200.0;95.00;3155.;18.2;78;US',
 'Ford Fairmont (auto);20.2;6;200.0;85.00;2965.;15.8;78;US',
 'Ford Fairmont (man);25.1;4;140.0;88.00;2720.;15.4;78;US',
 'Plymouth Volare;20.5;6;225.0;100.0;3430.;17.2;78;US',
 'AMC Concord;19.4;6;232.0;90.00;3210.;17.2;78;US',
 'Buick Century Special;20.6;6;231.0;105.0;3380.;15.8;78;US',
 'Mercury Zephyr;20.8;6;200.0;85.00;3070.;16.7;78;US',
 'Dodge Aspen;18.6;6;225.0;110.0;3620.;18.7;78;US',
 'AMC Concord d/l;18.1;6;258.0;120.0;3410.;15.1;78;US',
 'Chevrolet Monte Carlo Landau;19.2;8;305.0;145.0;3425.;13.2;78;US',
 'Buick Regal Sport Coupe (turbo);17.7;6;231.0;165.0;3445.;13.4;78;US',
 'Ford Futura;18.1;8;302.0;139.0;3205.;11.2;78;US',
 'Dodge Magnum XE;17.5;8;318.0;140.0;4080.;13.7;78;US',
 'Chevrolet Chevette;30.0;4;98.00;68.00;2155.;16.5;78;US',
 'Toyota Corolla;27.5;4;134.0;95.00;2560.;14.2;78;Japan',
 'Datsun 510;27.2;4;119.0;97.00;2300.;14.7;78;Japan',
 'Dodge Omni;30.9;4;105.0;75.00;2230.;14.5;78;US',
 'Toyota Celica GT Liftback;21.1;4;134.0;95.00;2515.;14.8;78;Japan',
 'Plymouth Sapporo;23.2;4;156.0;105.0;2745.;16.7;78;US',
 'Oldsmobile Starfire SX;23.8;4;151.0;85.00;2855.;17.6;78;US',
 'Datsun 200-SX;23.9;4;119.0;97.00;2405.;14.9;78;Japan',
 'Audi 5000;20.3;5;131.0;103.0;2830.;15.9;78;Europe',
 'Volvo 264gl;17.0;6;163.0;125.0;3140.;13.6;78;Europe',
 'Saab 99gle;21.6;4;121.0;115.0;2795.;15.7;78;Europe',
 'Peugeot 604sl;16.2;6;163.0;133.0;3410.;15.8;78;Europe',
 'Volkswagen Scirocco;31.5;4;89.00;71.00;1990.;14.9;78;Europe',
 'Honda Accord LX;29.5;4;98.00;68.00;2135.;16.6;78;Japan',
 'Pontiac Lemans V6;21.5;6;231.0;115.0;3245.;15.4;79;US',
 'Mercury Zephyr 6;19.8;6;200.0;85.00;2990.;18.2;79;US',
 'Ford Fairmont 4;22.3;4;140.0;88.00;2890.;17.3;79;US',
 'AMC Concord DL 6;20.2;6;232.0;90.00;3265.;18.2;79;US',
 'Dodge Aspen 6;20.6;6;225.0;110.0;3360.;16.6;79;US',
 'Chevrolet Caprice Classic;17.0;8;305.0;130.0;3840.;15.4;79;US',
 'Ford LTD Landau;17.6;8;302.0;129.0;3725.;13.4;79;US',
 'Mercury Grand Marquis;16.5;8;351.0;138.0;3955.;13.2;79;US',
 'Dodge St. Regis;18.2;8;318.0;135.0;3830.;15.2;79;US',
 'Buick Estate Wagon (sw);16.9;8;350.0;155.0;4360.;14.9;79;US',
 'Ford Country Squire (sw);15.5;8;351.0;142.0;4054.;14.3;79;US',
 'Chevrolet Malibu Classic (sw);19.2;8;267.0;125.0;3605.;15.0;79;US',
 'Chrysler Lebaron Town @ Country (sw);18.5;8;360.0;150.0;3940.;13.0;79;US',
 'Volkswagen Rabbit Custom;31.9;4;89.00;71.00;1925.;14.0;79;Europe',
 'Mazda GLC Deluxe;34.1;4;86.00;65.00;1975.;15.2;79;Japan',
 'Dodge Colt Hatchback Custom;35.7;4;98.00;80.00;1915.;14.4;79;US',
 'AMC Spirit DL;27.4;4;121.0;80.00;2670.;15.0;79;US',
 'Mercedes Benz 300d;25.4;5;183.0;77.00;3530.;20.1;79;Europe',
 'Cadillac Eldorado;23.0;8;350.0;125.0;3900.;17.4;79;US',
 'Peugeot 504;27.2;4;141.0;71.00;3190.;24.8;79;Europe',
 'Oldsmobile Cutlass Salon Brougham;23.9;8;260.0;90.00;3420.;22.2;79;US',
 'Plymouth Horizon;34.2;4;105.0;70.00;2200.;13.2;79;US',
 'Plymouth Horizon TC3;34.5;4;105.0;70.00;2150.;14.9;79;US',
 'Datsun 210;31.8;4;85.00;65.00;2020.;19.2;79;Japan',
 'Fiat Strada Custom;37.3;4;91.00;69.00;2130.;14.7;79;Europe',
 'Buick Skylark Limited;28.4;4;151.0;90.00;2670.;16.0;79;US',
 'Chevrolet Citation;28.8;6;173.0;115.0;2595.;11.3;79;US',
 'Oldsmobile Omega Brougham;26.8;6;173.0;115.0;2700.;12.9;79;US',
 'Pontiac Phoenix;33.5;4;151.0;90.00;2556.;13.2;79;US',
 'Volkswagen Rabbit;41.5;4;98.00;76.00;2144.;14.7;80;Europe',
 'Toyota Corolla Tercel;38.1;4;89.00;60.00;1968.;18.8;80;Japan',
 'Chevrolet Chevette;32.1;4;98.00;70.00;2120.;15.5;80;US',
 'Datsun 310;37.2;4;86.00;65.00;2019.;16.4;80;Japan',
 'Chevrolet Citation;28.0;4;151.0;90.00;2678.;16.5;80;US',
 'Ford Fairmont;26.4;4;140.0;88.00;2870.;18.1;80;US',
 'AMC Concord;24.3;4;151.0;90.00;3003.;20.1;80;US',
 'Dodge Aspen;19.1;6;225.0;90.00;3381.;18.7;80;US',
 'Audi 4000;34.3;4;97.00;78.00;2188.;15.8;80;Europe',
 'Toyota Corolla Liftback;29.8;4;134.0;90.00;2711.;15.5;80;Japan',
 'Mazda 626;31.3;4;120.0;75.00;2542.;17.5;80;Japan',
 'Datsun 510 Hatchback;37.0;4;119.0;92.00;2434.;15.0;80;Japan',
 'Toyota Corolla;32.2;4;108.0;75.00;2265.;15.2;80;Japan',
 'Mazda GLC;46.6;4;86.00;65.00;2110.;17.9;80;Japan',
 'Dodge Colt;27.9;4;156.0;105.0;2800.;14.4;80;US',
 'Datsun 210;40.8;4;85.00;65.00;2110.;19.2;80;Japan',
 'Volkswagen Rabbit C (Diesel);44.3;4;90.00;48.00;2085.;21.7;80;Europe',
 'Volkswagen Dasher (diesel);43.4;4;90.00;48.00;2335.;23.7;80;Europe',
 'Audi 5000s (diesel);36.4;5;121.0;67.00;2950.;19.9;80;Europe',
 'Mercedes-Benz 240d;30.0;4;146.0;67.00;3250.;21.8;80;Europe',
 'Honda Civic 1500 gl;44.6;4;91.00;67.00;1850.;13.8;80;Japan',
 'Renault Lecar Deluxe;40.9;4;85.00;0;1835.;17.3;80;Europe',
 'Subaru DL;33.8;4;97.00;67.00;2145.;18.0;80;Japan',
 'Volkswagen Rabbit;29.8;4;89.00;62.00;1845.;15.3;80;Europe',

In [97]:
from pyspark import SparkFiles

data_file_https_url = "https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv"
spark.sparkContext.addFile(data_file_https_url)
filePath  = 'file://' +SparkFiles.get('cars.csv')

cars = spark.sparkContext.textFile(filePath) 
print(cars.first())

Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin

In [99]:
cars_header = cars.first()
cars_rest = cars.filter(lambda line: line!=cars_header)
print(cars_rest.first())

Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US

**¿Cuántos autos hay en nuestro csv?**

In [100]:
cars_rest.map(lambda line: line.split(";")).count()

406

**Muestra el nombre del coche, MPG, cilindros, peso y origen de los coches con origen en Europa**

In [53]:
# Car name is column  0
(cars_rest.filter(lambda line: line.split(";")[8]=='Europe').
 map(lambda line: (line.split(";")[0],
    line.split(";")[1],
    line.split(";")[2],
    line.split(";")[5],
    line.split(";")[8])).collect())

[('Citroen DS-21 Pallas', '0', '4', '3090.', 'Europe'),
 ('Volkswagen 1131 Deluxe Sedan', '26.0', '4', '1835.', 'Europe'),
 ('Peugeot 504', '25.0', '4', '2672.', 'Europe'),
 ('Audi 100 LS', '24.0', '4', '2430.', 'Europe'),
 ('Saab 99e', '25.0', '4', '2375.', 'Europe'),
 ('BMW 2002', '26.0', '4', '2234.', 'Europe'),
 ('Volkswagen Super Beetle 117', '0', '4', '1978.', 'Europe'),
 ('Opel 1900', '28.0', '4', '2123.', 'Europe'),
 ('Peugeot 304', '30.0', '4', '2074.', 'Europe'),
 ('Fiat 124B', '30.0', '4', '2065.', 'Europe'),
 ('Volkswagen Model 111', '27.0', '4', '1834.', 'Europe'),
 ('Volkswagen Type 3', '23.0', '4', '2254.', 'Europe'),
 ('Volvo 145e (sw)', '18.0', '4', '2933.', 'Europe'),
 ('Volkswagen 411 (sw)', '22.0', '4', '2511.', 'Europe'),
 ('Peugeot 504 (sw)', '21.0', '4', '2979.', 'Europe'),
 ('Renault 12 (sw)', '26.0', '4', '2189.', 'Europe'),
 ('Volkswagen Super Beetle', '26.0', '4', '1950.', 'Europe'),
 ('Fiat 124 Sport Coupe', '26.0', '4', '2265.', 'Europe'),
 ('Fiat 128', '29.0', '4', '1867.', 'Europe'),
 ('Opel Manta', '24.0', '4', '2158.', 'Europe'),
 ('Audi 100LS', '20.0', '4', '2582.', 'Europe'),
 ('Volvo 144ea', '19.0', '4', '2868.', 'Europe'),
 ('Saab 99le', '24.0', '4', '2660.', 'Europe'),
 ('Audi Fox', '29.0', '4', '2219.', 'Europe'),
 ('Volkswagen Dasher', '26.0', '4', '1963.', 'Europe'),
 ('Opel Manta', '26.0', '4', '2300.', 'Europe'),
 ('Fiat 128', '24.0', '4', '2108.', 'Europe'),
 ('Fiat 124 TC', '26.0', '4', '2246.', 'Europe'),
 ('Fiat x1.9', '31.0', '4', '2000.', 'Europe'),
 ('Volkswagen Dasher', '25.0', '4', '2223.', 'Europe'),
 ('Volkswagen Rabbit', '29.0', '4', '1937.', 'Europe'),
 ('Audi 100LS', '23.0', '4', '2694.', 'Europe'),
 ('Peugeot 504', '23.0', '4', '2957.', 'Europe'),
 ('Volvo 244DL', '22.0', '4', '2945.', 'Europe'),
 ('Saab 99LE', '25.0', '4', '2671.', 'Europe'),
 ('Fiat 131', '28.0', '4', '2464.', 'Europe'),
 ('Opel 1900', '25.0', '4', '2220.', 'Europe'),
 ('Renault 12tl', '27.0', '4', '2202.', 'Europe'),
 ('Volkswagen Rabbit', '29.0', '4', '1937.', 'Europe'),
 ('Volkswagen Rabbit', '29.5', '4', '1825.', 'Europe'),
 ('Volvo 245', '20.0', '4', '3150.', 'Europe'),
 ('Peugeot 504', '19.0', '4', '3270.', 'Europe'),
 ('Mercedes-Benz 280s', '16.5', '6', '3820.', 'Europe'),
 ('Renault 5 GTL', '36.0', '4', '1825.', 'Europe'),
 ('Volkswagen Rabbit Custom', '29.0', '4', '1940.', 'Europe'),
 ('Volkswagen Dasher', '30.5', '4', '2190.', 'Europe'),
 ('BMW 320i', '21.5', '4', '2600.', 'Europe'),
 ('Volkswagen Rabbit Custom Diesel', '43.1', '4', '1985.', 'Europe'),
 ('Audi 5000', '20.3', '5', '2830.', 'Europe'),
 ('Volvo 264gl', '17.0', '6', '3140.', 'Europe'),
 ('Saab 99gle', '21.6', '4', '2795.', 'Europe'),
 ('Peugeot 604sl', '16.2', '6', '3410.', 'Europe'),
 ('Volkswagen Scirocco', '31.5', '4', '1990.', 'Europe'),
 ('Volkswagen Rabbit Custom', '31.9', '4', '1925.', 'Europe'),
 ('Mercedes Benz 300d', '25.4', '5', '3530.', 'Europe'),
 ('Peugeot 504', '27.2', '4', '3190.', 'Europe'),
 ('Fiat Strada Custom', '37.3', '4', '2130.', 'Europe'),
 ('Volkswagen Rabbit', '41.5', '4', '2144.', 'Europe'),
 ('Audi 4000', '34.3', '4', '2188.', 'Europe'),
 ('Volkswagen Rabbit C (Diesel)', '44.3', '4', '2085.', 'Europe'),
 ('Volkswagen Dasher (diesel)', '43.4', '4', '2335.', 'Europe'),
 ('Audi 5000s (diesel)', '36.4', '5', '2950.', 'Europe'),
 ('Mercedes-Benz 240d', '30.0', '4', '3250.', 'Europe'),
 ('Renault Lecar Deluxe', '40.9', '4', '1835.', 'Europe'),
 ('Volkswagen Rabbit', '29.8', '4', '1845.', 'Europe'),
 ('Triumph TR7 Coupe', '35.0', '4', '2500.', 'Europe'),
 ('Volkswagen Jetta', '33.0', '4', '2190.', 'Europe'),
 ('Renault 18i', '34.5', '4', '2320.', 'Europe'),
 ('Peugeot 505s Turbo Diesel', '28.1', '4', '3230.', 'Europe'),
 ('Saab 900s', '0', '4', '2800.', 'Europe'),
 ('Volvo Diesel', '30.7', '6', '3160.', 'Europe'),
 ('Volkswagen Rabbit l', '36.0', '4', '1980.', 'Europe'),
 ('Volkswagen Pickup', '44.0', '4', '2130.', 'Europe')]

**Muestra el nombre del auto, MPG, cilindros, peso y origen de los autos que se originan en Europa o Japón**

In [54]:
# Car name is column  0
(cars_rest.filter(lambda line: line.split(";")[8] in ['Europe','Japan']).
 map(lambda line: (line.split(";")[0],
    line.split(";")[1],
    line.split(";")[2],
    line.split(";")[5],
    line.split(";")[8])).collect())

[('Citroen DS-21 Pallas', '0', '4', '3090.', 'Europe'),
 ('Toyota Corolla Mark ii', '24.0', '4', '2372.', 'Japan'),
 ('Datsun PL510', '27.0', '4', '2130.', 'Japan'),
 ('Volkswagen 1131 Deluxe Sedan', '26.0', '4', '1835.', 'Europe'),
 ('Peugeot 504', '25.0', '4', '2672.', 'Europe'),
 ('Audi 100 LS', '24.0', '4', '2430.', 'Europe'),
 ('Saab 99e', '25.0', '4', '2375.', 'Europe'),
 ('BMW 2002', '26.0', '4', '2234.', 'Europe'),
 ('Datsun PL510', '27.0', '4', '2130.', 'Japan'),
 ('Toyota Corolla', '25.0', '4', '2228.', 'Japan'),
 ('Volkswagen Super Beetle 117', '0', '4', '1978.', 'Europe'),
 ('Opel 1900', '28.0', '4', '2123.', 'Europe'),
 ('Peugeot 304', '30.0', '4', '2074.', 'Europe'),
 ('Fiat 124B', '30.0', '4', '2065.', 'Europe'),
 ('Toyota Corolla 1200', '31.0', '4', '1773.', 'Japan'),
 ('Datsun 1200', '35.0', '4', '1613.', 'Japan'),
 ('Volkswagen Model 111', '27.0', '4', '1834.', 'Europe'),
 ('Toyota Corolla Hardtop', '24.0', '4', '2278.', 'Japan'),
 ('Volkswagen Type 3', '23.0', '4', '2254.', 'Europe'),
 ('Mazda RX2 Coupe', '19.0', '3', '2330.', 'Japan'),
 ('Volvo 145e (sw)', '18.0', '4', '2933.', 'Europe'),
 ('Volkswagen 411 (sw)', '22.0', '4', '2511.', 'Europe'),
 ('Peugeot 504 (sw)', '21.0', '4', '2979.', 'Europe'),
 ('Renault 12 (sw)', '26.0', '4', '2189.', 'Europe'),
 ('Datsun 510 (sw)', '28.0', '4', '2288.', 'Japan'),
 ('Toyota Corolla Mark II (sw)', '23.0', '4', '2506.', 'Japan'),
 ('Toyota Corolla 1600 (sw)', '27.0', '4', '2100.', 'Japan'),
 ('Volkswagen Super Beetle', '26.0', '4', '1950.', 'Europe'),
 ('Toyota Camry', '20.0', '4', '2279.', 'Japan'),
 ('Datsun 610', '22.0', '4', '2379.', 'Japan'),
 ('Mazda RX3', '18.0', '3', '2124.', 'Japan'),
 ('Fiat 124 Sport Coupe', '26.0', '4', '2265.', 'Europe'),
 ('Fiat 128', '29.0', '4', '1867.', 'Europe'),
 ('Opel Manta', '24.0', '4', '2158.', 'Europe'),
 ('Audi 100LS', '20.0', '4', '2582.', 'Europe'),
 ('Volvo 144ea', '19.0', '4', '2868.', 'Europe'),
 ('Saab 99le', '24.0', '4', '2660.', 'Europe'),
 ('Toyota Mark II', '20.0', '6', '2807.', 'Japan'),
 ('Datsun B210', '31.0', '4', '1950.', 'Japan'),
 ('Toyota Corolla 1200', '32.0', '4', '1836.', 'Japan'),
 ('Audi Fox', '29.0', '4', '2219.', 'Europe'),
 ('Volkswagen Dasher', '26.0', '4', '1963.', 'Europe'),
 ('Opel Manta', '26.0', '4', '2300.', 'Europe'),
 ('Toyota Corolla', '31.0', '4', '1649.', 'Japan'),
 ('Datsun 710', '32.0', '4', '2003.', 'Japan'),
 ('Fiat 128', '24.0', '4', '2108.', 'Europe'),
 ('Fiat 124 TC', '26.0', '4', '2246.', 'Europe'),
 ('Honda Civic', '24.0', '4', '2489.', 'Japan'),
 ('Subaru', '26.0', '4', '2391.', 'Japan'),
 ('Fiat x1.9', '31.0', '4', '2000.', 'Europe'),
 ('Toyota Corolla', '29.0', '4', '2171.', 'Japan'),
 ('Toyota Corolla', '24.0', '4', '2702.', 'Japan'),
 ('Volkswagen Dasher', '25.0', '4', '2223.', 'Europe'),
 ('Datsun 710', '24.0', '4', '2545.', 'Japan'),
 ('Volkswagen Rabbit', '29.0', '4', '1937.', 'Europe'),
 ('Audi 100LS', '23.0', '4', '2694.', 'Europe'),
 ('Peugeot 504', '23.0', '4', '2957.', 'Europe'),
 ('Volvo 244DL', '22.0', '4', '2945.', 'Europe'),
 ('Saab 99LE', '25.0', '4', '2671.', 'Europe'),
 ('Honda Civic CVCC', '33.0', '4', '1795.', 'Japan'),
 ('Fiat 131', '28.0', '4', '2464.', 'Europe'),
 ('Opel 1900', '25.0', '4', '2220.', 'Europe'),
 ('Renault 12tl', '27.0', '4', '2202.', 'Europe'),
 ('Volkswagen Rabbit', '29.0', '4', '1937.', 'Europe'),
 ('Honda Civic', '33.0', '4', '1795.', 'Japan'),
 ('Volkswagen Rabbit', '29.5', '4', '1825.', 'Europe'),
 ('Datsun B-210', '32.0', '4', '1990.', 'Japan'),
 ('Toyota Corolla', '28.0', '4', '2155.', 'Japan'),
 ('Volvo 245', '20.0', '4', '3150.', 'Europe'),
 ('Peugeot 504', '19.0', '4', '3270.', 'Europe'),
 ('Toyota Mark II', '19.0', '6', '2930.', 'Japan'),
 ('Mercedes-Benz 280s', '16.5', '6', '3820.', 'Europe'),
 ('Honda Accord CVCC', '31.5', '4', '2045.', 'Japan'),
 ('Renault 5 GTL', '36.0', '4', '1825.', 'Europe'),
 ('Datsun F-10 Hatchback', '33.5', '4', '1945.', 'Japan'),
 ('Volkswagen Rabbit Custom', '29.0', '4', '1940.', 'Europe'),
 ('Toyota Corolla Liftback', '26.0', '4', '2265.', 'Japan'),
 ('Subaru DL', '30.0', '4', '1985.', 'Japan'),
 ('Volkswagen Dasher', '30.5', '4', '2190.', 'Europe'),
 ('Datsun 810', '22.0', '6', '2815.', 'Japan'),
 ('BMW 320i', '21.5', '4', '2600.', 'Europe'),
 ('Mazda RX-4', '21.5', '3', '2720.', 'Japan'),
 ('Volkswagen Rabbit Custom Diesel', '43.1', '4', '1985.', 'Europe'),
 ('Mazda GLC Deluxe', '32.8', '4', '1985.', 'Japan'),
 ('Datsun B210 GX', '39.4', '4', '2070.', 'Japan'),
 ('Honda Civic CVCC', '36.1', '4', '1800.', 'Japan'),
 ('Toyota Corolla', '27.5', '4', '2560.', 'Japan'),
 ('Datsun 510', '27.2', '4', '2300.', 'Japan'),
 ('Toyota Celica GT Liftback', '21.1', '4', '2515.', 'Japan'),
 ('Datsun 200-SX', '23.9', '4', '2405.', 'Japan'),
 ('Audi 5000', '20.3', '5', '2830.', 'Europe'),
 ('Volvo 264gl', '17.0', '6', '3140.', 'Europe'),
 ('Saab 99gle', '21.6', '4', '2795.', 'Europe'),
 ('Peugeot 604sl', '16.2', '6', '3410.', 'Europe'),
 ('Volkswagen Scirocco', '31.5', '4', '1990.', 'Europe'),
 ('Honda Accord LX', '29.5', '4', '2135.', 'Japan'),
 ('Volkswagen Rabbit Custom', '31.9', '4', '1925.', 'Europe'),
 ('Mazda GLC Deluxe', '34.1', '4', '1975.', 'Japan'),
 ('Mercedes Benz 300d', '25.4', '5', '3530.', 'Europe'),
 ('Peugeot 504', '27.2', '4', '3190.', 'Europe'),
 ('Datsun 210', '31.8', '4', '2020.', 'Japan'),
 ('Fiat Strada Custom', '37.3', '4', '2130.', 'Europe'),
 ('Volkswagen Rabbit', '41.5', '4', '2144.', 'Europe'),
 ('Toyota Corolla Tercel', '38.1', '4', '1968.', 'Japan'),
 ('Datsun 310', '37.2', '4', '2019.', 'Japan'),
 ('Audi 4000', '34.3', '4', '2188.', 'Europe'),
 ('Toyota Corolla Liftback', '29.8', '4', '2711.', 'Japan'),
 ('Mazda 626', '31.3', '4', '2542.', 'Japan'),
 ('Datsun 510 Hatchback', '37.0', '4', '2434.', 'Japan'),
 ('Toyota Corolla', '32.2', '4', '2265.', 'Japan'),
 ('Mazda GLC', '46.6', '4', '2110.', 'Japan'),
 ('Datsun 210', '40.8', '4', '2110.', 'Japan'),
 ('Volkswagen Rabbit C (Diesel)', '44.3', '4', '2085.', 'Europe'),
 ('Volkswagen Dasher (diesel)', '43.4', '4', '2335.', 'Europe'),
 ('Audi 5000s (diesel)', '36.4', '5', '2950.', 'Europe'),
 ('Mercedes-Benz 240d', '30.0', '4', '3250.', 'Europe'),
 ('Honda Civic 1500 gl', '44.6', '4', '1850.', 'Japan'),
 ('Renault Lecar Deluxe', '40.9', '4', '1835.', 'Europe'),
 ('Subaru DL', '33.8', '4', '2145.', 'Japan'),
 ('Volkswagen Rabbit', '29.8', '4', '1845.', 'Europe'),
 ('Datsun 280-ZX', '32.7', '6', '2910.', 'Japan'),
 ('Mazda RX-7 GS', '23.7', '3', '2420.', 'Japan'),
 ('Triumph TR7 Coupe', '35.0', '4', '2500.', 'Europe'),
 ('Honda Accord', '32.4', '4', '2290.', 'Japan'),
 ('Toyota Starlet', '39.1', '4', '1755.', 'Japan'),
 ('Honda Civic 1300', '35.1', '4', '1760.', 'Japan'),
 ('Subaru', '32.3', '4', '2065.', 'Japan'),
 ('Datsun 210 MPG', '37.0', '4', '1975.', 'Japan'),
 ('Toyota Tercel', '37.7', '4', '2050.', 'Japan'),
 ('Mazda GLC 4', '34.1', '4', '1985.', 'Japan'),
 ('Volkswagen Jetta', '33.0', '4', '2190.', 'Europe'),
 ('Renault 18i', '34.5', '4', '2320.', 'Europe'),
 ('Honda Prelude', '33.7', '4', '2210.', 'Japan'),
 ('Toyota Corolla', '32.4', '4', '2350.', 'Japan'),
 ('Datsun 200SX', '32.9', '4', '2615.', 'Japan'),
 ('Mazda 626', '31.6', '4', '2635.', 'Japan'),
 ('Peugeot 505s Turbo Diesel', '28.1', '4', '3230.', 'Europe'),
 ('Saab 900s', '0', '4', '2800.', 'Europe'),
 ('Volvo Diesel', '30.7', '6', '3160.', 'Europe'),
 ('Toyota Cressida', '25.4', '6', '2900.', 'Japan'),
 ('Datsun 810 Maxima', '24.2', '6', '2930.', 'Japan'),
 ('Volkswagen Rabbit l', '36.0', '4', '1980.', 'Europe'),
 ('Mazda GLC Custom l', '37.0', '4', '2025.', 'Japan'),
 ('Mazda GLC Custom', '31.0', '4', '1970.', 'Japan'),
 ('Nissan Stanza XE', '36.0', '4', '2160.', 'Japan'),
 ('Honda Accord', '36.0', '4', '2205.', 'Japan'),
 ('Toyota Corolla', '34.0', '4', '2245', 'Japan'),
 ('Honda Civic', '38.0', '4', '1965.', 'Japan'),
 ('Honda Civic (auto)', '32.0', '4', '1965.', 'Japan'),
 ('Datsun 310 GX', '38.0', '4', '1995.', 'Japan'),
 ('Toyota Celica GT', '32.0', '4', '2665.', 'Japan'),
 ('Volkswagen Pickup', '44.0', '4', '2130.', 'Europe')]

<a id='user-defined-functions-udf'></a>
## User-Defined Functions (UDF)

<a id='creating-dataframes'></a>
## Creando Dataframes

Al comenzar con los dataframes, la pregunta más común es: *'¿Cómo creo un dataframes?'* <br>
A continuación, puede ver cómo crear tres tipos de dataframes:

### Crear un dataframes totalmente vacío

In [55]:
from pyspark.sql.types import StructType
from pyspark.sql.types import *
sc = spark.sparkContext
#Create empty df
schema = StructType([])
empty = spark.createDataFrame(sc.emptyRDD(), schema)
empty.show()

++
||
++
++

### Crear un dataframes totalmente vacío con encabezados

In [56]:
from pyspark.sql.types import StructType, StructField
#Create empty df with header
schema_header = StructType([StructField("name", StringType(), True)])
empty_with_header = spark.createDataFrame(sc.emptyRDD(), schema_header)
empty_with_header.show()

+----+
|name|
+----+
+----+

### Crear un dataframes con datos

In [57]:
from pyspark.sql import Row
mylist = [
  {"name":'Alice',"age":13},
  {"name":'Jacob',"age":24},
  {"name":'Betty',"age":135},
]
spark.createDataFrame(Row(**x) for x in mylist).show()

+-----+---+
| name|age|
+-----+---+
|Alice| 13|
|Jacob| 24|
|Betty|135|
+-----+---+

In [58]:
# You can achieve the same using this - note that we are using spark context here, not a spark session
from pyspark.sql import Row
df = sc.parallelize([
        Row(name='Alice', age=13),
        Row(name='Jacob', age=24),
        Row(name='Betty', age=135)]).toDF()
df.show()

+-----+---+
| name|age|
+-----+---+
|Alice| 13|
|Jacob| 24|
|Betty|135|
+-----+---+

In [59]:
sc.stop()